<div class="container">
  <figure class="text-center">

    <blockquote class="blockquote">
      <h1><%= params["question"] %></h1>
    </blockquote>
    <figcaption class="blockquote-footer">
      You
    </figcaption>

    <blockquote class="blockquote">
      <h1><%= @answer %></h1>
    </blockquote>
    <figcaption class="blockquote-footer">
      Coach
    </figcaption>

  </figure>
</div>