<div class="container">
  <h1 class="display-1">STUPID COACHING</h1>
  <div class="form-group">
    <form action="/answer">
      <input type="text" name="question" placeholder="Ask your coach anything for motivation!" class="form-control" id="question-input">
      <input type="submit" value="Ask!" class="form-control mt-3">
    </form>
  </div>
</div>